.content {
  width: 100%;
  display: flex;
  justify-content: auto;
  margin-bottom: $indent * 3;
  .main-content {
    width: 80%;
    padding-right: $indent;
    .gallery {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
    }
    .card {
      width: 32%;
      min-width: 280px;
      display: block;
      position: relative;
      overflow: hidden;
      box-shadow: $shadow;
      margin-bottom: $indent * 1.3;
      border-radius: $radius;
      &:hover {
        transition: all 0.2s ease-out;
        transform: translateY(-.3rem);
        cursor: pointer;
        box-shadow: $card-shadow;
        font-weight: 400;
        :first-child {
          color: $hightlight-color;
        }
      }
      .card-header {
        position: relative;
        img {
          width: 100%;
        }
        .price-tag {
          position: absolute;
          bottom: $indent * .5;
          left: $indent * .5;
          color: $white;
          text-shadow: $text-shadow;
          font-size: 1.5rem;
          font-weight: 700;
        }
      }
      .card-description {
        padding: $indent*.5 $indent*.8;
        :first-child {
          margin-top: 0;
          margin-bottom: $indent*.3;
        }
        :last-child {
          margin: 0;
        }
      }
      @include respond-to(medium-screens) {
        width: 49%;
      }
    }
    .paginator {
      a {
        min-width: $indent * 2.5;
        min-height: $indent * 2.5;
        display: block;
        padding: $indent*.6 $indent;
      }
      .active {
        cursor: default;
        border-radius: $radius;
        border: 1px solid $main-color;
      }
    }
    @include respond-to(handhelds) {
      width: 100%;
      padding: 0;
      .gallery {
        display: block;
      }
      .card {
        display: block;
        width: 95%;
        margin: 0 auto $indent;
      }
      .pagination {
        width: 95%;
        display: block;
        margin: 0 auto;
      }
    }
  }
}
