.main-footer {
  width: 100%;
  min-height: $indent * 4;
  display: flex;
  justify-content: auto;
  align-items: center;
  .centering {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .copyright {
    width: 20%;
    padding-left: $indent;
  }
  .footer-nav {
    li:not(:first-child) {
      padding-left: $indent;
    }
  }
  .refer {
    padding-right: $indent;
  }
  @include respond-to(handhelds) {
    padding-bottom: $indent;
    .copyright {
      width: 30%;
    }
    .footer-nav li {
      padding: 0!important;
    }
  }
}
