.scrolled {
  box-shadow: $shadow;
}
.main-header {
  z-index: 3;
  width: 100%;
  min-height: $indent * 3.5;
  position: fixed;
  background: $white;
  .container {
    display: flex;
    justify-content: auto;
    align-items: center;
    margin-top: $indent;
  }
  .centering {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .brand {
    width: 20%;
    margin-left: $indent;
  }
  .offer {
    background: none;
    color: $controls-color;
    border: 0;
    cursor: pointer;
    margin-right: $indent;
  }
  @include respond-to(handhelds) {
    .brand {
      width: 65%;
    }
    .centering {
      display: inline-block;
      width: 35%;
      padding-right: $indent;
    }
    .offer {
      float: right;
      width: $indent * 1.5;
      height: $indent * 1.5;
      margin-right: $indent * 2;
      padding: 0;
      background: url('../fonts/add.svg') 80% 50% no-repeat;
    }
    .sidebar-trigger {
      float: right;
      width: $indent * 1.5;
      height: $indent * 1.5;
      margin-right: $indent * 1.5;
      background: url('../fonts/filter.svg') 80% 50% no-repeat;
    }
    @include clearfix;
  }
}
.content {
  padding-top: $indent * 5;
}
