html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
html {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: $roboto;
  font-size: 14px;
  background: $white;
  color: $main-color;
}
.container {
  max-width: $max-width;
  min-width: $min-width;
  margin: 0 auto;
}
a {
  color: $controls-color;
  text-decoration: none;
  &:link, &:visited {
    color: $controls-color;
  }
  &:hover:not(.active) {
    color: $hightlight-color;
    font-weight: 500;
  }
}
ul {
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
  list-style: none;
}
.handhelds-show {
  display: none;
}
@include respond-to(handhelds) {
  .handhelds-hide {
    display: none;
  }
  .handhelds-show {
    display: initial;
  }
}
