.modal {
  width: 45%;
  position: fixed;
  top: $indent*5;
  left: 50%;
  margin-left: -22.5%; // 1/2 of width
  padding: 0;
  overflow: hidden;
  border: 0;
  border-radius: $radius;
  box-shadow: $popup-shadow;
  background: $white;
  color: $controls-color;
  line-height: 22px;
  &::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $overlay-color;
  }
  img {
    width: 100%;
    margin-bottom: $indent;
  }
  .modal-container {
    display: flex;
    justify-content: auto;
    padding-bottom: $indent * 1.5;
  }
  .modal-base-info {
    width: 40%;
    padding: $indent;
    border-right: 1px solid $main-color;
    h2 {
      margin-top: 0;
      font-size: 20px;
    }
    .price {
      margin-bottom: $indent * 1.5;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
  .modal-description {
    width: 60%;
    padding: $indent $indent*2;
  }
  .modal-description-accessories {
    @extend .modal-container;
    & > div {
      width: 50%;
      p:first-child {
        margin-top: 0;
      }
    }
    .linethrough {
      color: $main-color;
      text-decoration: line-through;
    }
  }
  .modal-description-text {
    margin-bottom: 0;
  }
  @include respond-to(medium-screens) {
    width: 70%;
    margin-left: -35%;
  }
  @include respond-to(handhelds) {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    margin-left: -50%;
    border-radius: 0;
    .modal-header {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 0 $indent;
      background: $white;
      height: $indent * 3.6;
    }
    .modal-header-logo {
      width: 50%;
      background: url('../fonts/logo.svg') 5% 50% no-repeat;
    }
    .modal-close {
      width: 50%;
      background: url('../fonts/close.svg') 95% 50% no-repeat;
      border: 0;
      cursor: pointer;
    }
    .modal-container {
      display: block;
      div {
        display: block;
        width: 100% !important;
      }
      .modal-base-info {
        padding: 0 $indent;
      }
      .modal-description {
        padding: 0 $indent;
      }
      .modal-description-accessories,
      .modal-description-text,
      .price {
        margin: 0;
        padding: $indent 0;
        border-bottom: 1px solid $main-color;
      }
      p {
        margin: 0;
      }
    }
    .modal-contacts {
      h2 {
        margin: 0;
        padding: $indent 0;
        background: url('../fonts/phone.svg') 100% 50% no-repeat;
        border-bottom: 1px solid $main-color;
      }
      p {
        padding-top: $indent;
      }
    }
  }
}
