.sidebar {
  width: 20%;
  padding-right: $indent;
  fieldset {
    border: 0;
    &:first-child {
      border-bottom: 1px solid $main-color;
    }
    &:not(:first-child) {
      margin-top: $indent;
    }
    select {
      width: 100%;
      height: $indent * 2.8;
      display: block;
      padding-left: $indent;
      color: $main-color;
      border: 1px solid $main-color;
      border-radius: $radius;
      background: url('../fonts/down.svg') no-repeat 95% 50%;
      appearance: none !important;
      &:not(:first-child) {
        margin: $indent*.5 0 $indent*.8;
      }
      &:hover {
        cursor: pointer;
        color: $controls-color;
        border-color: $controls-color;
      }
      &:focus {
        outline: none;
        box-shadow: $shadow;
      }
    }
  }
  input[type=checkbox] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }
  label {
    cursor: pointer;
    &::before {
      content: '';
      display: inline-block;
      width: $indent * 1.5;
      height: $indent * 1.5;
      position: relative;
      top: $indent * .3;
      margin-right: $indent * .5;
      border: 1px solid $main-color;
      border-radius: $radius;
    }
  }
  input[type=checkbox]:checked + label::before {
    background: $controls-color url('../fonts/check_white.svg');
  }
  label:checked {
    color: $controls-color;
    font-weight: 500;
  }
  label:hover {
    color: $controls-color;
    font-weight: 500;
    &::before {
      border-color: $controls-color;
    }
  }
  @include respond-to(handhelds) {
    z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
    width: 75%;
    min-height: 100vh;
    margin-top: $indent * 3.5;
    padding: 0;
    opacity: 0;
    background: $white;
    outline: $indent*200 solid $overlay-color;
    background-clip: padding-box;
    &.is-visible {
      opacity: 1;
      transition: opacity .2s 0s;
    }
    fieldset {
      position: relative;
      margin: 0;
      padding: 0;
      &:first-child {
        border: 0;
      }
      legend {
        width: 100%;
        padding: $indent $indent*1.5;
        border-bottom: 1px solid $main-color;
      }
      select {
        width: 100%;
        border: 0;
        border-radius: 0;
        margin-left: $indent;
        padding: 0;
        padding-left: $indent * .5;
        background: url('../fonts/down.svg') no-repeat 85% 50%;
        border-bottom: 1px solid $main-color;
        &:not(:first-child) {
          margin: 0;
          margin-left: $indent;
        }
      }
    }
    label {
      width: 100%;
      display: block;
      position: relative;
      margin-left: $indent * 1.5;
      padding-bottom: $indent;
      border-bottom: 1px solid $main-color;
      cursor: pointer;
      &:first-of-type {
        padding-top: $indent;
      }
      &:last-child {
        border: 0;
      }
      &::before {
        display: none;
      }
      &::after {
        content: '';
        display: inline-block;
        width: $indent * 1.5;
        height: $indent * 1.5;
        position: absolute;
        right: $indent * 2;
        margin-left: $indent * .5;
      }
    }
    input[type=checkbox]:checked + label::before {
      background: 0;
    }
    input[type=checkbox]:checked + label::after {
      background: url('../fonts/check.svg') no-repeat 85% 50%;
    }
    label:hover {
      &::before {
        border: 0;
      }
    }
  }
}
