// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
$roboto: 'Roboto', sans-serif;

// Colors
$main-color: #999;
$controls-color: #666;
$hightlight-color: #333;
$overlay-color: rgba(230, 230, 230, .8);
$white: #fff;

// Measurements
$max-width: 1280px;
$min-width: 320px;
$indent: 1em;
$radius: 3px;
$shadow: 0 1px 5px 0 rgba(0, 0, 0, .1);
$card-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2);
$text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
$popup-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
