<div class="container">
  <footer class="main-footer">
    <div class="copyright">
      &copy; Автохаб 2016
    </div>

    <div class="centering">
      <div class="footer-nav">
        <ul>
          <li>
            <a href="">Правовое соглашение</a>
          </li>
          <li>
            <a href="">Техническая поддержка</a>
          </li>
        </ul>
      </div>

      <div class="refer">
        Сделано в <a href="">Студии Вадима Скротского</a>
      </div>
    </div>
  </footer>
</div>
