<header id="header" class="main-header">
  <div class="container">
    <a href="" class="main-header-item brand">
      <img src="fonts/logo.svg" alt="Автохаб">
    </a>

    <div class="centering">
      <div class="main-header-item offerings handhelds-hide">
        Найдено 5658 предложений
      </div>

      <a id="sidebar-trigger" class="main-header-item sidebar-trigger handhelds-show"></a>

      <button class="main-header-item offer" type="button" name="offer-button">
        <span class="handhelds-hide">Разместить предложение</span>
      </button>
    </div>
  </div>

</header>
