<!--
zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
      POPUP WITH CAR INFO
zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
-->
  <dialog id="mito-modal" class="modal">
    <header class="modal-header handhelds-show">
      <a href="" class="modal-header-logo"></a>
      <button id="close" class="modal-close"></button>
    </header>
    <img src="images/img_popup.png" alt="">
    <div class="modal-container">
      <div class="modal-base-info">
        <h2>Alfa Romeo MiTo</h2>
        <p>2010 год выпуска
          <br> Пробег 139 087 км
          <br> Бензин 1.4 л
          <br> Механика
          <br> Передний привод</p>
        <h2 class="price">9450 &#36;</h2>
        <p class="handhelds-hide">+375 (29) 123-45-67
          <br> Екатерина
        </p>
      </div>

      <div class="modal-description">
        <div class="modal-description-accessories">
          <div>
            <p>
              Кондиционер
              <br>
              <span class="linethrough">Кожаный салон</span>
              <br> Легкосплавные диски
              <br>
              <span class="linethrough">Ксенон</span>
              <br>
              <span class="linethrough">Парктроник</span>
            </p>
          </div>
          <div>
            <p>
              <span class="linethrough">Подогрев сидений</span>
              <br> Система контроля
              <br> стабилизации
              <br> Навигация
              <br>
              <span class="linethrough">Громкая связь</span>
            </p>
          </div>
        </div>

        <p class="modal-description-text">
          Автомобиль для любителей быстрой, экстремальной езды, с экономичным расходом топлива, 6-ти мкп, три режима езды, 155 л.с, л\д R18, салон-карбон, дожим стекол, USB с поддержкой МП3, Блютуз, Круиз-контроль, двухзонный климат, парктроник, пригнана из Швейцарии,
          сервисные документы
        </p>

        <div class="modal-contacts handhelds-show">
          <h2>+375 (29) 123-45-67</h2>
          <p>Екатерина</p>
        </div>
      </div>
    </div>
  </dialog>

  <div class="container">
    <section class="content">

<!--
zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
      SIDEBAR
zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
-->
      <section id="sidebar" class="sidebar sidebar-handhelds">
        <form novalidate>
          <fieldset class="price-range">
            <legend>Цена</legend>

            <select>
              <option value="5000">от 5000 &#36;</option>
            </select>

            <select>
              <option value="70000">до 70000 &#36;</option>
            </select>

          </fieldset>

          <fieldset class="car-model">
            <legend>Марка</legend>
            <label data-ng-repeat="b in brands">
              <input type="checkbox" name="vehicle" value="{{b}}">
              {{b}}</label>

          </fieldset>
        </form>
      </section>

<!--
zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
      MAIN CONTENT
zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
-->
      <section class="main-content">
        <div class="gallery">
          <div class="card">
            <header class="card-header">
              <img src="images/img_1.png" alt="">
              <div class="price-tag">39 500 &#36;</div>
            </header>
            <div class="card-description">
              <h4>Mercedes CLS350</h4>
              <p>2013 47 000 км Бензин 3.5 А</p>
            </div>
          </div>

          <div class="card">
            <header id="mito-card" class="card-header">
              <img src="images/img_2.png" alt="">
              <div class="price-tag">9 450 &#36;</div>
            </header>
            <div class="card-description">
              <h4>Alfa Romeo MiTo</h4>
              <p>2010 139 087 км Бензин 1.4 М</p>
            </div>
          </div>

          <div class="card">
            <header class="card-header">
              <img src="images/img_3.png" alt="">
              <div class="price-tag">16 000 &#36;</div>
            </header>
            <div class="card-description">
              <h4>Volkswagen Passat CC</h4>
              <p>2011 53 000 км Бензин 2.0 А</p>
            </div>
          </div>

          <div class="card">
            <header class="card-header">
              <img src="images/img_4.png" alt="">
              <div class="price-tag">18 100 &#36;</div>
            </header>
            <div class="card-description">
              <h4>Volvo XC60</h4>
              <p>2010 88 000 км Бензин 2.0 А</p>
            </div>
          </div>

          <div class="card">
            <header class="card-header">
              <img src="images/img_5.png" alt="">
              <div class="price-tag">16 300 &#36;</div>
            </header>
            <div class="card-description">
              <h4>Ford Fusion SE15</h4>
              <p>2013 13 000 км Бензин 1.6 А</p>
            </div>
          </div>

          <div class="card">
            <header class="card-header">
              <img src="images/img_6.png" alt="">
              <div class="price-tag">32 900 &#36;</div>
            </header>
            <div class="card-description">
              <h4>Audi A8</h4>
              <p>2011 89 000 км Дизель 4.0 А</p>
            </div>
          </div>

          <div class="card">
            <header class="card-header">
              <img src="images/img_7.png" alt="">
              <div class="price-tag">21 900 &#36;</div>
            </header>
            <div class="card-description">
              <h4>Mercedes GL500 4MATIC</h4>
              <p>2007 125 000 км Бензин 5.5 А</p>
            </div>
          </div>

          <div class="card">
            <header class="card-header">
              <img src="images/img_8.png" alt="">
              <div class="price-tag">65 500 &#36;</div>
            </header>
            <div class="card-description">
              <h4>Porsche Macan S</h4>
              <p>2014 9 700 км Бензин 3.0 А</p>
            </div>
          </div>

          <div class="card">
            <header class="card-header">
              <img src="images/img_9.png" alt="">
              <div class="price-tag">6 000 &#36;</div>
            </header>
            <div class="card-description">
              <h4>Audi A8</h4>
              <p>2008 86 280 км Бензин 1.2 М</p>
            </div>
          </div>

          <div class="card">
            <header class="card-header">
              <img src="images/img_1.png" alt="">
              <div class="price-tag">39 500 &#36;</div>
            </header>
            <div class="card-description">
              <h4>Mercedes CLS350</h4>
              <p>2013 47 000 км Бензин 3.5 А</p>
            </div>
          </div>

          <div class="card">
            <header class="card-header">
              <img src="images/img_2.png" alt="">
              <div class="price-tag">9 450 &#36;</div>
            </header>
            <div class="card-description">
              <h4>Alfa Romeo MiTo</h4>
              <p>2010 139 087 км Бензин 1.4 М</p>
            </div>
          </div>

          <div class="card">
            <header class="card-header">
              <img src="images/img_3.png" alt="">
              <div class="price-tag">16 000 &#36;</div>
            </header>
            <div class="card-description">
              <h4>Volkswagen Passat CC</h4>
              <p>2011 53 000 км Бензин 2.0 А</p>
            </div>
          </div>
        </div>

        <div class="pagination">
          <ul class="paginator">
            <li>
              <a class="active">
                1</a></li>
            <li>
              <a href="">
                2</a></li>
            <li>
              <a href="">
                3</a></li>
            <li>
              <a href="">
                4</a></li>
            <li>
              <a href="">
                5</a></li>
          </ul>
        </div>
      </section>
    </section>
  </div>
